# Зависимости, которые можно восстановить командой "npm install"
/node_modules

# Скомпилированные файлы, созданные Vite для продакшена
/dist

# Файлы с настройками окружения (часто содержат секретные ключи)
.env
.env.local

# Логи и кэш
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store